@import url('https://fonts.googleapis.com/css2?family=Overlock+SC&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.hidden {
  display: none !important;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(228, 100%, 11%);
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.header-image {
  height: 50vh;
}

.title-image {
  object-fit: cover;
  object-position: 100% 50%;
  height: 50vh;
  width: 100vw;
}

.title {
  position: absolute;
  top: 10vh;
  left: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Overlock SC', cursive;
  font-size: 7em;
  color:hsl(0, 100%, 31%);
  letter-spacing: 0.03em;
}

nav {
  height: 100px;
  width: 100vw;
  background-color:hsla(0, 0%, 74%, 0.493);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-weight: 500;
  font-size: 1.1em;
}

.left-links {
  display: flex;
  list-style-type: none;
  flex: 5;
  padding: 0;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.home {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
  cursor: pointer;
  border: none;
  color: white;
  background-color: transparent;
}

.right-links {
  display: flex;
  list-style-type: none;
  flex: 2;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 0;
}

button:not(#home) {
  padding: 15px 20px;
  border: 2px solid black;
  border-radius: 25px;
  cursor: pointer;
  background-color:hsl(229, 100%, 20%);
  color: white;
}

button#home {
  list-style: none;
  border: none;
  background-color: transparent;
}

main ~ div, main > div {
  color: white;
  line-height: 1.5em;
  text-align: justify;
}

button {
  font-size: 0.9em;
}

.select {
  position: absolute;
  height: 170px;
  width: 200px;
  background-color: hsl(229, 100%, 20%);
  top: calc(50% + 76px);
  left: 446px;
  border-radius: 10px;
}

div.select > button {
  display: block;
  margin: 10px;
  width: 80%;
}

button#change-lang {
  position: fixed;
  bottom: 100px;
  left: 100px;
  border-radius: 25px;
  border: none;
  height: 70px;
  width: 70px;
  background-image: url("./media/spain-flag.png");
  background-size: cover;
  background-position: 50% 0;
  transition: 1s;
  transition-property: all;
}

button#change-lang:hover {
  transform: scale(1.2);
  opacity: 0.5;
}
